<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CollectionMapper">

    <resultMap id="collectionMapper" type="com.tencent.wxcloudrun.model.CollectionModel">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="nameId" column="name_id"/>
        <result property="fullName" column="full_name"/>
        <result property="desc" column="desc"/>
    </resultMap>

    <select id="selectByUserId" resultMap="collectionMapper" parameterType="java.lang.String">
        SELECT `id`, `user_id`, `name_id`, `full_name`, `desc`
        FROM t_collection
        WHERE user_id = #{userId}
    </select>

   <insert id="insert" parameterType="com.tencent.wxcloudrun.model.CollectionModel">
      INSERT INTO `t_collection`(`user_id`, `name_id`, `full_name`, `desc`)
      VALUE( #{userId},#{nameId},#{fullName},#{desc})
   </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM t_collection
        where id = #{id}
        limit 1
    </delete>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.CollectionModel">
        update `t_collection` set user_id = #{userId},name_id = #{nameId},full_name = #{fullName},desc = #{desc}
       where id = #{id} and user_id = #{userId}
    </update>

</mapper>
