<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.WeChatSessionMapper">

    <resultMap id="weChatSessionMapper" type="com.tencent.wxcloudrun.model.WeChatSession">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="session_id" column="name_id"/>
    </resultMap>

    <select id="selectByUserId" resultMap="weChatSessionMapper" parameterType="java.lang.String">
        SELECT `id`, `user_id`, `session_id`
        FROM t_wechat_session
        WHERE user_id = #{userId}
    </select>

   <insert id="addSession" parameterType="com.tencent.wxcloudrun.model.WeChatSession">
      INSERT INTO `t_wechat_session`(`user_id`, `session_id`)
      VALUE( #{userId},#{nameId})
   </insert>

    <delete id="deleteSessionByUserId" parameterType="java.lang.String">
        DELETE
        FROM t_wechat_session
        where user_id = #{userId}
        limit 1
    </delete>

    <update id="updateSessionByUserId" parameterType="com.tencent.wxcloudrun.model.WeChatSession">
        update `t_wechat_session` set user_id = #{userId},session_id = #{sessionId}
        where user_id = #{userId}
    </update>

</mapper>
